<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

      <link rel="stylesheet" href={{ url_for('static',filename="css/bootstrap.min.css")}}>
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
      <link rel="stylesheet" href={{ url_for('static',filename="css/bootstrap-theme.min.css")}}>
      <link rel="stylesheet" href={{ url_for('static',filename="css/main.css")}}>

      <script src={{ url_for('static',filename="js/vendor/modernizr-2.6.2.min.js")}}></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
  <h1>All types of Data</h1>
  <h2>Biggest data breaches of all time (all types of data)</h2>
  <table id="tops" class="table table-bordered table-striped table-condensed table-hover">
    <tr><th>Year</th><th>Victim</th><th>Data Total</th><th>Actions</th></tr>
  </table>
  <h2>Biggest data breaches of all time (all types of data)</h2>
  <div id="breach-chart"></div>
  
  <h1>Biggest payment card breaches</h1>
  <h2>Payment card breaches (by record count)</h2>
  <table id="topPayment" class="table table-bordered table-striped table-condensed table-hover">
    <tr><th>Year</th><th>Victim</th><th>Data Total</th><th>Actions</th>
  </table>
  <h2>Payment card breaches (by record count)</h2>
  <div id="TopPaymentChart"></div>

</div>


      <footer>

      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

      <script src={{ url_for('static',filename="js/vendor/bootstrap.min.js") }}></script>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://trifacta.github.io/vega/vega.js"></script>
      <script>
        function parse(spec) {
          vg.parse.spec(spec, function(chart) { chart({el:"#breach-chart"}).update(); });
         }
        function paymentParse(spec) {
          vg.parse.spec(spec, function(chart) { chart({el:"#TopPaymentChart"}).update(); });
         }
        
        var breachchart = {'width':800,'height':400,
                           "padding": {"top": 10, "left": 200, "bottom": 40, "right": 40},
                           'data':[],'scales':[],'axes':[],'marks':[]};
        breachchart['scales'].push({'name':'x-scale',"range":"width",'nice':true,"domain":{"data":"table", "field":"data.data_total"}});
        breachchart['scales'].push({'name':'y-scale','range':'height','type':'ordinal','domain':{'data':'table','field':'data.victim'}});
        breachchart['axes'].push({'type':'x','scale':'x-scale','title':'Number of Incidents'});
        breachchart['axes'].push({'type':'y','scale':'y-scale'});
        breachchart['marks'].push({'type':'rect', 'from':{'data':'table'}, 
                                   'properties':{'update':{'fill':{'value':'#ED1C24'}}}});

        var enterProperty = {'x':{'scale':'x-scale','value':0}};
        enterProperty['width'] = {'scale':'x-scale','field':'data.data_total'};
        enterProperty['y'] = {'scale':'y-scale','field':'data.victim'};
        enterProperty['height'] = {'scale':'y-scale','band':true,'offset':-1}
        breachchart['marks'][0]['properties']['enter'] = enterProperty;
        
        var paymentChart = breachchart
        
        
        $.getJSON('/api/data_total/top/{{returnCount}}', function(data) {
          $(data.incidents).each( function(eachIncident) {
            var actionString = ""
            if (this.actions.length == 0) { actionString="Unknown"; };
            $(this.actions).each( function(eachAction) { actionString = actionString + this + "<br>"});
            $('#tops').append("<tr><td>"+this.year+"</td><td>"+this.victim+"</td><td>"+this.data_total+"</td><<td>"+actionString+"</td></tr>");
              });
          breachchart['data'].push({'name':'table','values':data.incidents});
          parse(breachchart);
          });
        
        $.getJSON('/api/data_total/payment/top/{{returnCount}}', function(data) {
          $(data.incidents).each( function(eachIncident) {
            var actionString = "";
            if (this.actions.length == 0) { actionString="Unknown";};
            $(this.actions).each( function(eachAction) { actionString = actionString + this + "<br>"});
            $('#topPayment').append("<tr><td>"+this.year+"</td><td>"+this.victim+"</td><td>"+this.data_total+"</td><<td>"+actionString+"</td></tr>");
          });
          paymentChart['data'].push({'name':'table','values':data.incidents});
          paymentParse(paymentChart);
        });
</script>


    </body>
</html>
